body {
  background-color: #F6AC43;
  font-size: 2rem;
}
body > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #3d7dca;
}
body > nav > h1 {
  font-family: "Helvetica Neue", sans-serif;
  color: #fcf40d;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}
body > nav > a {
  font-family: "Helvetica Neue", sans-serif;
  color: #ccc842;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.35rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
body > nav > a:hover {
  background-color: #003a70;
}
body > main, body div {
  text-align: center;
}
body > main > p, body div > p {
  font-size: 3rem;
  color: #003a70;
}
body > main > img, body div > img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
body > main > nav > section, body div > nav > section {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  margin-top: 7rem;
  background-color: #3d7dca;
  padding: 0.25rem;
  border-radius: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 2rem;
}
body > main > nav > section > span, body div > nav > section > span {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #003a70;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}
body > main > nav > section > span > div, body div > nav > section > span > div {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
}
body > main > nav > section > span > div > a, body div > nav > section > span > div > a {
  text-decoration: none;
  color: #ccc842;
  font-size: 1.5rem;
  font-weight: bold;
}
body > main > nav > section > span > div > a:hover, body div > nav > section > span > div > a:hover {
  color: #fcf40d;
}
body > main > nav > section > span > div > button, body div > nav > section > span > div > button {
  margin: 0 0.25rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: rgba(212, 72, 72, 0.9803921569);
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}
body > main > nav > section > span > div > button:hover, body div > nav > section > span > div > button:hover {
  background-color: #ed0202;
}
body > main > nav > section > span > img, body div > nav > section > span > img {
  width: 50px;
  height: 50px;
  display: block;
  margin: -1rem auto;
}
body > main > nav > section > div, body div > nav > section > div {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #fcf40d;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease;
}
body > main > nav > section > div:hover, body div > nav > section > div:hover {
  background-color: #003a70;
}
body > main > div > section {
  text-align: center;
}
body > main > div > section > nav {
  margin: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
body > main > div > section > nav > input {
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > main > div > section > nav > input.number {
  width: 20%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > main > div > section > nav > select {
  width: 20%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > main > div > section > ul {
  margin: 0 6%;
  height: 500px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #3d7dca #f6ac43;
}
body > main > div > section > ul > li {
  display: flex;
  background-color: white;
  cursor: pointer;
  padding: 8px;
  margin: 5px 5px;
  border: 1px solid white;
  border-radius: 4px;
}
body > main > div > section > ul > li > a {
  margin: auto 0;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #3d7dca;
  width: 80%;
}
body > main > div > section > ul > li > button {
  width: 20%;
  padding: 0.5rem 1rem;
  border: 1rem;
  border-radius: 5px;
  background-color: #3d7dca;
  color: white;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}
body > main > div > section > ul > li > button:hover {
  background-color: #003a70;
}
body > main > div > section > div {
  text-align: center;
}
body > main > div > section > div > nav {
  margin: 0.5rem 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
body > main > div > section > div > nav > input {
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > main > div > section > div > nav > input.number {
  width: 20%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > main > div > section > div > nav > select {
  width: 20%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > main > div > section > div > ul {
  margin: 0 6%;
  height: 500px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #3d7dca #f6ac43;
}
body > main > div > section > div > ul > li {
  background-color: white;
  cursor: pointer;
  padding: 8px;
  margin: 5px 5px;
  border: 1px solid white;
  border-radius: 4px;
}
body > main > div > section > div > ul > li > a {
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #3d7dca;
}
body > main > div > section > div > section {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  margin-top: 1.5rem;
  background-color: #3d7dca;
  padding: 0.25rem;
  border-radius: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 2rem;
}
body > main > div > section > div > section > span {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #003a70;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}
body > main > div > section > div > section > span > div {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
}
body > main > div > section > div > section > span > div > a {
  text-decoration: none;
  color: #ccc842;
  font-size: 1.5rem;
  font-weight: bold;
}
body > main > div > section > div > section > span > div:hover {
  color: #fcf40d;
}
body > main > div > section > div > section > span > div > button {
  margin: 0 0.25rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: rgba(212, 72, 72, 0.9803921569);
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > section > span > div > button:hover {
  background-color: #ed0202;
}
body > main > div > section > div > section > span > img {
  width: 50px;
  height: 50px;
  display: block;
  margin: -1rem auto;
}
body > main > div > section > div > section > div {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #fcf40d;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > section > div:hover {
  background-color: #003a70;
}
body > main > div > section > div > nav {
  text-align: left;
  margin-top: 3rem;
}
body > main > div > section > div > nav > a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #003a70;
}
body > main > div > section > div > nav > section {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  margin-top: -2.3rem;
  background-color: #3d7dca;
  padding: 0.25rem;
  border-radius: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 2rem;
}
body > main > div > section > div > nav > section > span {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #003a70;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}
body > main > div > section > div > nav > section > span > div {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
}
body > main > div > section > div > nav > section > span > div > a {
  text-decoration: none;
  color: #ccc842;
  font-size: 1.5rem;
  font-weight: bold;
}
body > main > div > section > div > nav > section > span > div:hover {
  color: #fcf40d;
}
body > main > div > section > div > nav > section > span > div > button {
  margin: 0 0.25rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: rgba(212, 72, 72, 0.9803921569);
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > nav > section > span > div > button:hover {
  background-color: #ed0202;
}
body > main > div > section > div > nav > section > span > img {
  width: 50px;
  height: 50px;
  display: block;
  margin: -1rem auto;
}
body > main > div > section > div > nav > section > div {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #fcf40d;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > nav > section > div:hover {
  background-color: #003a70;
}
body > main > div > section > div > main {
  display: flex;
}
body > main > div > section > div > main > section {
  width: 45%;
  margin-left: auto;
}
body > main > div > section > div > main > section > h2 {
  font-size: 2rem;
  color: #003a70;
  margin-bottom: 0.25rem;
}
body > main > div > section > div > main > section > div label {
  font-size: 1.5rem;
  color: #003a70;
  margin-bottom: 0.5rem;
}
body > main > div > section > div > main > section > div select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > main > div > section > div > main > section > button {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3d7dca;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > main > section > button:hover {
  background-color: #003a70;
}
body > main > div > section > div > main > section > ul {
  margin: 0 6%;
  height: 440px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #3d7dca #f6ac43;
}
body > main > div > section > div > main > section > ul > li {
  border-radius: 40px;
  background-color: rgba(61, 124, 202, 0.1411764706);
  border: 1px solid #003a70;
  font-size: 1.5rem;
  color: #003a70;
  margin-bottom: 2rem;
}
body > main > div > section > div > main > section > ul > li > button {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3d7dca;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > main > section > ul > li > button:hover {
  background-color: #003a70;
}
body > main > div > section > div > main > div {
  display: flex;
  align-items: center;
  margin: 1.6rem 0 0 4%;
}
body > main > div > section > div > main > div > div {
  margin: 0 1rem;
  min-width: 300px;
  max-width: 400px;
  height: 390px;
  padding: 1rem;
  border: 2px solid #3d7dca;
  border-radius: 10px;
  background-color: rgba(61, 124, 202, 0.1411764706);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, flex 0.3s ease;
}
body > main > div > section > div > main > div > div:hover {
  transform: scale(1.03);
}
body > main > div > section > div > main > div > div > h2 {
  font-weight: bold;
  color: #003a70;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
body > main > div > section > div > main > div > div > img {
  width: 225px;
  transition: width 0.5s;
  border-radius: 5px;
}
body > main > div > section > div > main > div > div > img:hover {
  width: 250px;
}
body > main > div > section > div > main > div > div > a {
  color: #003a70;
  margin: 1rem;
  font-size: 2rem;
}
body > main > div > section > div > main > div > div > button {
  padding: 0.5rem 1rem;
  border: 1rem;
  border-radius: 5px;
  margin: 0 1rem 0.5rem 1rem;
  background-color: #3d7dca;
  color: white;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > main > div > div > button:hover {
  background-color: #003a70;
}
body > main > div > section > div > main > div > div > p {
  margin: 1rem;
  color: #003a70;
  font-size: 2.5rem;
}
body > main > div > section > div > main > div:only-child > div {
  flex: 2;
}
body > main > div > h1 {
  font-size: 3rem;
  color: #003a70;
  margin-left: -8rem;
}
body > main > div > section > p {
  font-size: 2.5rem;
  color: #003a70;
  margin-left: -6rem;
}
body > main > div > div > nav > section {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  background-color: #3d7dca;
  padding: 0.25rem;
  border-radius: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 1.4rem;
}
body > main > div > div > nav > section > span {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #003a70;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}
body > main > div > div > nav > section > span > div {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
}
body > main > div > div > nav > section > span > div > a {
  text-decoration: none;
  color: #ccc842;
  font-size: 1.5rem;
  font-weight: bold;
}
body > main > div > div > nav > section > span > div:hover {
  color: #fcf40d;
}
body > main > div > div > nav > section > span > div > button {
  margin: 0 0.25rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: rgba(212, 72, 72, 0.9803921569);
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}
body > main > div > div > nav > section > span > div > button:hover {
  background-color: #ed0202;
}
body > main > div > div > nav > section > span > img {
  width: 50px;
  height: 50px;
  display: block;
  margin: -1rem auto;
}
body > main > div > div > nav > section > div {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #fcf40d;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease;
}
body > main > div > div > nav > section > div:hover {
  background-color: #003a70;
}
body > main > div > section > div > h1 {
  font-size: 2.5rem;
  color: #003a70;
  margin-bottom: 1rem;
}
body > main > div > section > div > div {
  display: flex;
  justify-content: space-around;
}
body > main > div > section > div > div > div {
  height: 350px;
  width: 40%;
  background-color: rgba(61, 124, 202, 0.1411764706);
  border: 2px solid #3d7dca;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
body > main > div > section > div > div > div:hover {
  transform: scale(1.05);
}
body > main > div > section > div > div > div > h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
body > main > div > section > div > div > div > h2 > a {
  color: #3d7dca;
  text-decoration: none;
  transition: color 0.3s ease;
}
body > main > div > section > div > div > div > h2 > a:hover {
  color: #003a70;
}
body > main > div > section > div > div > div > div {
  display: flex;
  justify-content: space-between;
}
body > main > div > section > div > div > div > div > img {
  width: 270px;
  height: 300px;
}
body > main > div > section > div > div > div > div > div > p {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #003a70;
}
body > main > div > section > div > div > div > div > ul {
  list-style: none;
  padding: 0;
}
body > main > div > section > div > div > div > div > ul > p {
  font-size: 1.5rem;
  color: #003a70;
  margin: 0 1rem;
}
body > main > div > section > div > div > div > div > ul > li {
  font-size: 1.25rem;
  color: #003a70;
  margin-bottom: 0.5rem;
}
body > main > div > section > div > div > div > button {
  margin-top: -2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3d7dca;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > div > div > button:hover {
  background-color: #003a70;
}
body > main > div > section > div > button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3d7dca;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > button:hover {
  background-color: #003a70;
}
body > main > div > section > div > div > div {
  margin-top: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}
body > main > div > section > div > div > div h2 {
  font-size: 2rem;
  color: #003a70;
  margin-bottom: 1rem;
}
body > main > div > section > div > div > div form > label {
  font-size: 1.5rem;
  color: #003a70;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
body > main > div > section > div > div > div form > label > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
body > main > div > section > div > div > div form > label > div > label {
  font-weight: bold;
  color: #ccc842;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  background-color: #3d7dca;
}
body > main > div > section > div > div > div form > label > div > label:hover {
  background-color: #003a70;
}
body > main > div > section > div > div > div form > label > input, body > main > div > section > div > div > div form > label textarea, body > main > div > section > div > div > div form > label select {
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  margin-right: 3rem;
}
body > main > div > section > div > div > div form button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3d7dca;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body > main > div > section > div > div > div form button:hover {
  background-color: #003a70;
}/*# sourceMappingURL=styles.css.map */